@import url("https://fonts.cdnfonts.com/css/gloock-2");

:root {
    --gloock-font-family: "Gloock", sans-serif;
    --tilt-warp-font-family: "Tilt Warp", sans-serif;

    --clr-primary-300: rgb(255, 236, 128);
    --clr-secondary-300: rgb(192, 200, 255);
    --clr-neutral-100: rgb(255, 255, 255);
    --clr-neutral-300: rgb(128, 128, 128);
    --clr-neutral-900: rgb(0, 0, 0);
    --clr-default: var(--clr-primary-300, hsl(51, 100%, 75%));

    --neo-color: 255, 222, 222;
    --mica-color: 222, 234, 255;
    --saku-color: 233, 222, 255;
    --maintainer-color: 255, 241, 222;
    --member-color: 195, 254, 190;
}

/* Global */
* {
    box-sizing: border-box;
    transition: all 300ms;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
}

body,
html {
    display: flex;
    flex-direction: column;

    font-family: var(--gloock-font-family);
    background: linear-gradient(10deg, #fff 50%, rgb(var(--clr-default)));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

a {
    text-decoration: none;
    color: var(--clr-neutral-900);

    &:hover {
        text-decoration: underline;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    margin: 1em;
}

.back-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.back-button > img {
    width: 10px;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li {
    font-weight: 700;
    padding: 1em;
}

main {
    display: flex;
    flex-direction: column;

    margin: clamp(1em, 5vw, 9.375em);
}

.user__main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;

    & > img {
        height: 250px;
        width: 250px;
        border-radius: 100%;
        transition: transform 300ms, box-shadow ease-in-out 300ms;
        animation: zoomOut 3s ease-in-out 0s 1 reverse forwards;

        &#tr:hover {
            box-shadow: 0px 0px 0 10px rgba(227, 10, 23, 0.9),
                0px 0px 0 20px rgba(255, 255, 255, 0.9);
            transform: scale(1.1);
        }
        &#fp:hover {
            box-shadow: 0px 0px 0 10px rgba(0, 56, 168, 0.9),
                0px 0px 0 20px rgba(206, 17, 38, 0.9),
                0px 0px 0 30px rgba(255, 255, 255, 0.9),
                0px 0px 0 40px rgba(252, 209, 22, 0.3);
            transform: scale(1.1);
        }

        &#it:hover {
            box-shadow: 0px 0px 0 10px rgba(0, 140, 69, 0.9),
                0px 0px 0 20px rgba(244, 245, 240, 0.9),
                0px 0px 0 30px rgba(205, 33, 42, 0.9);
            transform: scale(1.1);
        }

        &#hl:hover {
            box-shadow: 0px 0px 0 10px rgba(169, 31, 50, 0.9),
                0px 0px 0 20px rgba(255, 255, 255, 0.9),
                0px 0px 0 30px rgba(30, 71, 133, 0.9);
            transform: scale(1.1);
        }
    }
}

.user__description {
    padding-left: 3em;
    margin-left: 3em;
    border-left: 2px solid var(--clr-neutral-300);
    animation: ScaleVertical 2s ease-in-out 0s 1 reverse forwards;

    & > h1 {
        animation: FadeOutLeft 2s ease-in-out 2s 1 reverse forwards;
        opacity: 0;
    }

    & > h4 {
        font-weight: 400;
        color: var(--clr-neutral-300);
        animation: FadeOutLeft 2s ease-in-out 2s 1 reverse forwards;
        opacity: 0;
    }
}

article {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    padding: 2em;
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
    box-shadow: 0px 5px 0 rgba(var(--clr-default), 0.7),
        0px 10px 0 rgba(var(--clr-default), 0.5),
        0px 15px 0 rgba(var(--clr-default), 0.3),
        0px 20px 0 rgba(var(--clr-default), 0.1),
        0px 25px 0 rgba(var(--clr-default), 0.05);
    animation: ScaleUp 3s ease 0s 1 reverse forwards;

    & > p {
        font-family: system-ui, Arial, Helvetica, sans-serif;
        color: var(--clr-neutral-300);
    }
}

.albums {
    padding: 2em;

    animation: ScaleUp 3s ease 0s 1 reverse forwards;

    & > p {
        font-family: Arial, Helvetica, sans-serif;
    }
}

.album-items {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 3em;

    margin-top: 3em;
}

.album-item {
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;

    margin: 0.5em;

    transition: border-width 300ms, transform 400ms ease-in-out;

    &:hover {
        transform: scale(1.1);
        z-index: 1;

        & > img {
            border-width: 2.5px;
            transform-origin: center;
            filter: contrast(1.3);
            border-radius: 5px;
        }

        & > .album-info {
            border-radius: 0 0 5px 5px;

            background-color: rgb(0, 0, 0);
            color: var(--clr-neutral-100);
        }
    }
}

.album-item > img {
    width: 15vw;
    min-width: 150px;
    border-radius: 7.5%;
    border: 1px solid transparent;
    transition: border-width 300ms, filter 800ms, border-radius 300ms;
}

.album-item > .album-info {
    position: absolute;
    bottom: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 35%;
    padding: 0.5em;

    border-radius: 0 0 15px 15px;

    color: var(--clr-neutral-900);
    background-color: rgba(205, 205, 205, 0.8);
    font-family: Arial, Helvetica, sans-serif;

    transition: border-radius 300ms, background-color 300ms, color 300ms;
}

.album-info > h4 {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
}

.album-info > p {
    font-size: 8pt;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.highlighted-text {
    --blue-color: rgb(56, 169, 255);
    --red-color: rgb(255, 85, 85);
    --purple-color: rgb(173, 65, 255);
    --yellow-color: rgb(255, 247, 91);
    --orange-color: rgb(255, 175, 54);
    --green-color: rgb(55, 187, 29);

    color: var(--clr-default);

    &.blue {
        color: var(--blue-color);
    }

    &.red {
        color: var(--red-color);
    }

    &.purple {
        color: var(--purple-color);
    }

    &.orange {
        color: var(--orange-color);
    }

    &.yellow {
        color: var(--yellow-color);
    }

    &.green {
        color: var(--green-color);
    }

    &.white {
        color: var(--clr-neutral-100);
    }

    &.gray {
        color: var(--clr-neutral-300);
    }

    &.black {
        color: var(--clr-neutral-900);
    }
}

footer {
    font-family: Arial, Helvetica, sans-serif;

    & h2 {
        font-weight: 700;
    }
}

@media screen and (max-width: 768px) {
    h4 {
        color: var(--clr-neutral-100);
    }
    .user__main {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        & > img {
            height: 150px;
            width: 150px;
            border-radius: 100%;
        }
    }

    .user__description {
        padding-left: 0;
        margin-left: 0;
        margin-top: 1em;
        border-left: none;
        text-align: center;
    }

    main {
        margin-top: 5em;
    }

    .album-items {
        justify-content: center;
        align-items: center;
    }

    .album-item > .album-info {
        height: 40%;
        border-radius: 0 0 10px 10px;
    }

    .album-info > p {
        display: none;
    }
}

@keyframes zoomOut {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(1.2);
        opacity: 0;
    }
}

@keyframes FadeOutLeft {
    0% {
        opacity: 1;
        transform: translateX(0);
    }

    100% {
        opacity: 0;
        transform: translateX(-50px);
    }
}

@keyframes ScaleVertical {
    0% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(0);
    }
}

@keyframes ScaleUp {
    0% {
        opacity: 1;
        transform: scale(1);
    }

    100% {
        opacity: 0;
        transform: scale(1.2);
    }
}
